{% extends 'base.html.twig' %}

{% block title %}Hello AdvancedSearchController!{% endblock %}

{% block body %}




<div class="container-fluid">
    <h1>Students</h1>




    <div class="card-deck student-card-deck">
        {% for student in rankedStudents %}
            <div class="card student-card">
                <a href="/students/{{ student.id }}"><img src="{{ student.profilePhoto }}" class="card-img-top" alt="profile picture"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ student.firstname }} {{ student.lastname }}</h5>
                    <p class="card-text">{{ student.tagline }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ student.age }} ans,  {{ student.city }}</li>
                    <li class="list-group-item">Je connais :
                        {% for skill in student.skills %}
                            <span class="badge badge-pill badge-info">{{ skill }}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">Je voudrais apprendre :
                        {% for skill in student.skillsToLearn %}
                            <span class="badge badge-pill badge-success">{{ skill }}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">{{ student.about }}</li>
                </ul>
                <div class="card-body">
                    <a href="https://github.com/{{ student.githubId }}"> <i class="fab fa-github fa-3x"></i></a>
                    <a href="{{ student.linkedInProfile }}"> <i class="fab fa-linkedin fa-3x"></i></a>
                    <a href="{{ student.linkedInProfile }}"> <i class="far fa-envelope fa-3x"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

    {% endblock %}
