{% extends 'base.html.twig' %}

{% block title %}Recherche avancée - resultats{% endblock %}

{% block body %}




<div class="container-fluid">
    <h1>Élèves</h1>


    <!--
    <p> Campus :
        {% for campus in campuses %}
       <span class="badge badge-pill badge-light">{{ campus }}</span>
        {% endfor %}
        Competences :
        {% for skill in skills %}
           <span class="badge badge-pill badge-light">{{ skill|capitalize }}</span>
        {% endfor %}

    </p>   -->

    <table>
        <tr>
            <td class="less-bottom-padding">Campus :</td>
            <td class="table-less-spacing"> {% for campus in campuses %}
                    <span class="badge badge-pill badge-light">{{ campus }}</span>
                {% endfor %}</td>
        </tr>
        <tr >
            <td class="less-bottom-padding">Competences :</td>
            <td class="table-less-spacing">        {% for skill in skills %}
                    <span class="badge badge-pill badge-light">{{ skill|capitalize }}</span>
                {% endfor %}</td>

        </tr>


    </table>

    <div class="card-deck student-card-deck">
        {% for array in rankedStudents %}
            {% set percent = array.1 %}
            {% set student = array.0 %}

            <div class="card student-card badge1" data-badge="{{ percent }}%">
                <a href="/students/profile/{{ student.id }}"><img src="{{ student.profilePhoto }}" class="card-img-top" alt="profile picture"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ student.firstname }} {{ student.lastname }}</h5>
                    <p class="card-text">{{ student.tagline }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ student.age }} ans,  {{ student.city }}</li>
                    <li class="list-group-item">Je connais :
                        {% for skill in student.skills %}
                            <span class="badge badge-pill badge-info">{{ skill }}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">Je voudrais apprendre :
                        {% for skill in student.skillsToLearn %}
                            <span class="badge badge-pill badge-success">{{ skill }}</span>
                        {% endfor %}
                    </li>
                    <!-- <li class="list-group-item">{{ student.about }}</li>  -->
                </ul>
                <div class="card-body">
                    <a href="https://github.com/{{ student.githubId }}"> <i class="fab fa-github fa-3x"></i></a>
                    <a href="{{ student.linkedInProfile }}"> <i class="fab fa-linkedin fa-3x"></i></a>
                    <a href="{{ student.linkedInProfile }}"> <i class="far fa-envelope fa-3x"></i></a>
                </div>
            </div>

        {% endfor %}
    </div>

</div>

    {% endblock %}
